// Fuente para el titulo
@font-face {
font-family: 'Anton';
src: url('/src/assets/fonts/Anton-Regular.ttf');
}

// Variables
@import '/src/less/base/_settings.less';

.header {
  font-family: 'Anton';
  font-size: 2rem;
  
  &Text {
    font-size: 2rem;
    font-family: 'Anton';
    color: @primary;
  }
}
